.content
  margin 0 auto
  width 1000px
  height 1000px

.masterboard
  height 666px
  padding 0 !important

.board
  padding 0px 

.horizontal
  margin 0 !important
  height 100%

.vertical
  padding 0 !important
  height 100%

for row in 1 2
  for layer in 0 1 2 3 4 5 
    .horizontal-{layer}:nth-child({row})
      box-shadow 0px 1px black
      if layer == 0
        height 10vh

for row in 1 2 
  for layer in 0 1 2 3 4 5 
    .vertical-{layer}:nth-child({row})
      box-shadow 1px 0px black
      if layer == 0
        height 10vh

