doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1')
    meta(name='description', content='Lots of squares')
    title Exponential O's and X's 
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') 
    link(rel='icon' type='image/png' href='https://raw.githubusercontent.com/bag-man/nodeup/master/public/assets/imgs/favicon.ico')
  body
    main.container
      block content

  include footer

