extend default

block content
  - let numLayers = 2
  .board
    +board(numLayers)

mixin board(layers)
    - for (var row = 0; row < 3; row++)
        .board-row
          - for (var col = 0; col < 3; col++)
            .board-cell(class='board-cell_' + layers % 3, data=(row * 3) + col)
              - if (layers !== 0)
                +board(layers - 1)
