extend default

block content 
  - let numLayers = 1
  .masterboard.container
    +board(numLayers)

mixin board(layer)
  .board
    each i in [ 1, 2, 3 ]
      .row.horizontal(class='horizontal-' + layer)
        each j in [ 1, 2, 3]
          .col-md-4.vertical(class='vertical-' + layer, cell=(((i-1)*3)+j)-1, layer=layer)
            if layer !== 0 
              +board(layer - 1)
