extend default

block content 
  - let numLayers = 1
  .masterboard.container
    +board(numLayers)

mixin board(layer)
  .board
    each i in new Array(3)
      .row.horizontal(class='horizontal-' + layer)
        each i in new Array(3)
          .col-md-4.vertical(class='vertical-' + layer)
            if layer !== 0 
              +board(layer - 1)
